<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.howprog">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HowProg">
        <activity
            android:name=".FullscreenActivity"
            android:screenOrientation="landscape"
            tools:ignore="ExtraText">
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.HowProg.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.howprog.Menu" />
        <activity android:name="com.example.howprog.Map" />
        <activity android:name="com.example.howprog.Level" />
        <activity android:name="com.example.howprog.Levelende" />
        <activity android:name="com.example.howprog.Prelevel" />
        <service android:name="com.example.howprog.Musik" />
    </application>

</manifest>